.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.display{
  width: 40%;
  margin: auto;
  
 
}
table{
  width: 100%;
  margin: auto;
  border: 1px solid;
  margin-bottom: 50px;
}
.head{
 width: 250px;
 font-size: 20px;
}

.btnDIb{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btnn{
  border-radius: 5px;
  font-size: 20px;
  border: 2px dotted skyblue;
  text-align: center;
  align-items: center;
  background-color: white;
}

.btnn1{
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

.showTable{
  width: 30%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid;
}

.showHead{
  width: 100%;
  display: flex;
 
}

.showHead div{
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  border: 1px solid;
  padding: 5px;
}



.dataShow{
  font-size: 20px;
 width: 100%;
 display: flex;
  
}
.dataShow div{
  font-size: 20px;
  font-weight: 400;
  width: 50%;
  text-align: center;
}